#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=LightBurn 0.9.24
Comment=Better Software For Laser Cutters
Exec=/home/$USER/LightBurnLibs/lightburn %u
Icon=/home/$USER/.local/share/LightBurn/LightBurn.png
#Categories=Engineering;
Categories=Graphics;
